@import "~/styles/variables";
@import "~/styles/utils";

.checkbox {
  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: 26px;
    color: #fff;
    border: 2px solid;
    border-color: $color-main;
  }
}

.checked {
  background-color: $color-main;
}
