@import "~/styles/variables";
@import "~/styles/utils";

.container {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.title {
  border-radius: 4px 4px 0 0;
  background-color: #f4f4f4;
  padding: 0 10px;
  position: relative;
  z-index: 10;

  p {
    line-height: 40px;
    font-size: 16px;
    color: #373a3c;
  }
}

.list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  .btn {
    padding: 0;
    background-color: unset;
    color: #b2a173;
    text-decoration: underline;
    margin-right: 20px;
  }
}
