@import "~/styles/variables";
@import "~/styles/utils";

.container {
  margin-top: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 12px;

  @include screenMd {
    padding: 0;
    margin: -20px 0 0;
  }
}

.item {
  color: #afafaf;
  width: 25%;
  margin-bottom: 20px;

  @include screenMd {
    width: 50%;
    margin-bottom: 0;
    border-bottom: 1px solid #d0d0d0;

    &:nth-child(odd) {
      border-right: 1px solid #d0d0d0;
    }

    &:nth-child(-n + 2) {
      border-top: 1px solid #d0d0d0;
    }
  }
}

.link {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  line-height: 1;

  @include screenMd {
    display: block;
    padding: 15px 18px;
    line-height: 1.3;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 1px solid #bca565;
      border-right: 1px solid #bca565;
      transform: translateY(-50%) rotate(45deg);
      position: absolute;
      top: 50%;
      right: 18px;
    }
  }
}
