@import "~/styles/variables";
@import "~/styles/utils";

.container {
  padding: 0px 30px;
  border-bottom: $color-main solid 4px;
  .tabContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: -1px;
  }
}
