@import "~/styles/utils";
@import "~/styles/variables";

.header {
  height: 45px;
  background-color: #ffffff;
  border-bottom: 1px solid #f4f2ed;

  @include screenMd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $content-max-width;
  height: 100%;
  margin: 0 auto;

  @include screenMd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.humburger {
  margin-left: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;

  @include screenMd {
    justify-content: center;
    a {
      display: flex;
      align-items: center;
    }
  }
}
