@import "~/styles/variables";
@import "~/styles/utils";

.main {
  @include screenMd {
    > div {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: -40px;

      nav {
        margin-top: 20px;
      }
    }
  }
}

.cityTop {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 100%;

  @include screenMd {
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 0 16px;
  }
}

.search {
  display: none;

  @include screenMd {
    display: block;
  }
}

.title {
  margin-top: 20px;
}
