@import "~/styles/variables";
@import "~/styles/utils";

.label {
  font-size: 12px;
  font-weight: bold;
  color: #373a3c;
}

.content {
  margin-top: 13px;
  font-size: 16px;
  line-height: 1.5;

  p {
    color: #373a3c;

    span {
      display: block;
    }
  }
}
